@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" class="mt-8 mb-6">Добро пожаловать!</MudText>

<MudText Typo="Typo.body1">Ура!</MudText>

<button @onclick="changeAuth">Cheat</button>

@code {
    [CascadingParameter]
    LSharp.Client.Components.Layout.MainLayout Parent { get; set; }

    private void changeAuth(MouseEventArgs e)
    {
        Parent.SwitchAuth();
    }
}